// COLORS
$blue: #112b64;
$blueDark: #091c44;
$active: #da6d4c;
$transparentDark: rgba(0, 0, 0, 0.2);
$transparentLight: rgba(255, 255, 255, 0.2);

// LAYOUT
$borderRadius: 5px;

// TYPOGRAPHY
$fontCursive: 'Patrick Hand', cursive;
