<div class="menu-wrapp">


  <div class="menu">
    <div class="menu-nav" *ngIf="categories$ | async as categories">
      <button
          *ngFor="let categorie of categories" class="bg-anim"
          (click)="selectCategorie(categorie.id)">
          {{ categorie.name }}
      </button>
    </div>
  </div>


  <div class="selected" *ngIf="selected$ | async as selected">
    <h2>{{ selected.name }}</h2>
    <div class="items">
        <div
          *ngFor="let item of selected.items"
          class="item bg-anim">
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <span class="price">{{ item.price }} $</span>
        </div>
    </div>
  </div>

</div>
